* {
    box-sizing: border-box;
    background-color: #EDEAD0;
    font-family: 'Gluten', cursive;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
}

.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    border-radius: 50px;
    background: #86BAA1;
    box-shadow: 20px 20px 12px #364a40,
        -20px -20px 12px #d6ffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 425px;
    width: 575px;
}

.gifs {
    display: flex;
    margin: 0px 5px 0px 5px;
    width: 200px;
    height: 200px;
    justify-content: center;
    background-color: #86BAA1;
}

.formandtitle {
    margin-top: px;
    background: #86BAA1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #86BAA1;
}

h2 {
    background: #86BAA1;
    font-size: 30px;
}

.button {
    border-radius: 59px;
    width: 50%;
    height: 35px;
    margin-top: 10px;
    border-radius: 120px;
    background: linear-gradient(315deg, );
    box-shadow: -5px -5px 10px, ;
    font-size: 17px;
}

.text {
    border-radius: 83px;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow: 41px 41px 82px #a3a3a3,
        -41px -41px 82px #ffffff;